{% extends 'partials/base.html.twig' %}

{% block content %}
    {% set productsPage = page%}


    <style>
        .container .box::before {
            content: attr(data-page-name);
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 25%;
            text-align: center;
            font-weight: 900;
            color: var(--textcolor);
            transition: 2s;
        }
    </style>

    <h1 class="nazev-kategorie">{{ page.title }}</h1>
    <p class="podtext">Můžeš si zde vybrat ze spousty tenisek a jiných značkových produktů: </p>

    <div class="container">
        {% if productsPage %}
            {% for productPage in productsPage.children %}
                {% if productPage.visible %}
                    <div class="box" data-page-name="{{ productPage.title }}">
                        <a href="{{ productPage.url }}" class="name">{{ productPage.title }}</a>
                        <a href="{{ productPage.url }}" class="buy btn41-43 btn-42">Více info</a>
                        <div class="circle"><img src="{{ productPage.media['blob.svg'].url }}" alt="BLOB"></div>
                        <a href="{{ productPage.url }}" class="box-odkaz"><img src="{{ productPage.media['thumbnail.png'].url }}" class="product-shoe" alt="Fotka boty"></a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <script>
        VanillaTilt.init(document.querySelectorAll(".box"), {
            max: 3,
            speed: 400
        });
    </script>
{% endblock %}
