<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.canonical(true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
    {% do assets.addCss('theme://css/parallax.css', 97) %}
    {% do assets.addCss('theme://css/aos.css', 96) %}
    {% do assets.addCss('theme://css/Assets.css', 95) %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@100,700;125,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://js/script.js') %}
    {% do assets.addJs('theme://js/vanilla-tilt.min.js') %}
    {% do assets.addJs('https://api.mapy.cz/loader.js') %}
    <script>
        
    </script>
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">
<div class="parallax"> 
   {% include 'partials/navigation.html.twig' %}
    <div class="content-outer"> 
            <div class="content-inner">
            
{% block body %}
    <section id="body">
        <div class="wrapper padding" id="parallax" >
        <div class="pagecontent" >
        {% block content %}{% endblock %}
        </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    
{% endblock %}
        </div>
    </div>
</div>
{% block bottom %}
<script src={{ url('theme://js/aos.js')|e }}></script>
    <script>
      AOS.init({
      });
    </script>

<script>
  function updateGap() {
    const gridBanner = document.querySelector('.grid-banner');
    const viewportWidth = window.innerWidth;
    const gap = (100/viewportWidth)*600; // Adjust this multiplier as needed
    
    gridBanner.style.gap = `${gap}px`;
  }
  
  // Call the updateGap function initially
  updateGap();
  
  // Attach the updateGap function to the window's resize event
  window.addEventListener('resize', updateGap);
</script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('scrollLink').addEventListener('click', function(event) {
        event.preventDefault();
        window.scrollBy({
          top: 500,
          left: 0,
          behavior: 'smooth'
        });

        console.log('Scroll successful');
      });
    });
  </script>
{% endblock %}

</body>
</html>
